.App{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5fbff;
}

.shadow{
    box-shadow: 0px 0px 30px 1px #00000025;
}